body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:1134px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:184px;
  width:1112px;
  height:382px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:198px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:198px;
  width:128px;
  height:25px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:445px;
  width:58px;
  height:22px;
  font-size:18px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:421px;
  width:971px;
  height:84px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:531px;
  width:288px;
  height:16px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:198px;
  width:170px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:198px;
  width:58px;
  height:22px;
  font-size:18px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:248px;
  width:971px;
  height:140px;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:0px;
  width:220px;
  height:40px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:0px;
  width:220px;
  height:40px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:221px;
  height:40px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:217px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:0px;
  width:193px;
  height:40px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:189px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:117px;
  height:40px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:40px;
  width:220px;
  height:40px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:40px;
  width:220px;
  height:40px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:40px;
  width:221px;
  height:40px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:40px;
  width:193px;
  height:40px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:60px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:117px;
  height:60px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:80px;
  width:220px;
  height:60px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:80px;
  width:220px;
  height:60px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:60px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:80px;
  width:221px;
  height:60px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:60px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:80px;
  width:193px;
  height:60px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:120px;
  width:310px;
  height:22px;
  font-size:18px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:120px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:31px;
  width:300px;
  height:49px;
  font-size:14px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1135px;
  height:2px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:90px;
  width:1134px;
  height:1px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:31px;
  width:140px;
  height:40px;
  font-size:14px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:566px;
  width:1112px;
  height:382px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:580px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:580px;
  width:128px;
  height:25px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:827px;
  width:58px;
  height:22px;
  font-size:18px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:803px;
  width:971px;
  height:84px;
}
#u195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:913px;
  width:288px;
  height:16px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:580px;
  width:170px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:580px;
  width:58px;
  height:22px;
  font-size:18px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:630px;
  width:971px;
  height:140px;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:0px;
  width:220px;
  height:40px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:0px;
  width:220px;
  height:40px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:221px;
  height:40px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:217px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:0px;
  width:193px;
  height:40px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:189px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:117px;
  height:40px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:40px;
  width:220px;
  height:40px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:40px;
  width:220px;
  height:40px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:40px;
  width:221px;
  height:40px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:40px;
  width:193px;
  height:40px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:60px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:117px;
  height:60px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:80px;
  width:220px;
  height:60px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:80px;
  width:220px;
  height:60px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:60px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:80px;
  width:221px;
  height:60px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:60px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:80px;
  width:193px;
  height:60px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0066;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:18px;
  width:275px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0066;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
